.search-form {
  background-color: #cfcfc9;
  border-radius: 8px;
  width: 25vw;
}

.search-form-container {
  background-color: #cfcfc9;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
  width: 100%;
}
