.title-logo {
  height: 15vh;
  display: flex;
  background-color: #f0ebd8;
  font-size: 50px;
  padding: 10px;
  justify-content: flex-start;
  padding-left: 65px;
  align-items: flex-end;
}

.header-bar {
  height: 18vh;
  width: 100%;
  background-color: #f0ebd8;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}