.about-me {
  align-items: center;
  background-color: #cfcfc9;
  color: #908f84;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.about-text {
  columns: #908f84;
  width: 65%;
}
.about-text-2 {
  color: #908f84;
  width: 65%;
}

.text-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.map-image {
  width: 45%;
}

.button {
  background-color: transparent;
  border: none;
  border-bottom: 10px;
  color: #456982;
  cursor: pointer;
  font-size: 16px;
  height: 8em;
}

.button:focus {
  outline: none;
}

.text-wrap {
  background-color: #fdfdfb;
  border: 2px solid #908f84;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66%;
}
