.search-form {
  border-radius: 8px;
  width: 25vw;
  background-color: #f0ebd8;
}

.search-form-container {
  background-color: #f0ebd8;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}


