.title-logo {
  align-items: flex-end;
  background-color: #cfcfc9;
  display: flex;
  font-size: 50px;
  height: 15vh;
  justify-content: flex-start;
  padding: 10px;
  padding-left: 65px;
}

.header-bar {
  align-content: center;
  align-items: flex-end;
  background-color: #cfcfc9;
  display: flex;
  height: 18vh;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 25%;
}

.link-box {
  display: flex;
}
